.navb{
    display: flex;
    background-color: #454545;
    margin: 0;
    height: 3rem;
    padding: 0;
}

.navb svg{
    fill: #dadada;
    margin: 5px 10px;
}

@media(max-width:1140px){
    .iconList{
        display: none;
    }
    .navb{
        
        justify-content: space-between;
    }
}

.navb svg:hover{
    fill: white;
}


body{
    margin: 0;
}
@media(min-width:1140px){


.iconList{
    display: flex;
    gap: 2rem;
    text-decoration: none;
    list-style-type: none;
}

.navb{
    display: flex;
    justify-content: center;
    align-items: center;
}

.bi-list{
    display: none;
}
}

.icons{
    padding-right: 1rem;
}

.navbar2{
    height: 5rem;
    background-color: #1d1d1f;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar2 p{
    color: white;
    text-align: center;
    
}
.iconList a{
    color: white;
    text-decoration: none;
    
}


  /*                  BODY                   */

 


.top-banner{
    width: 100%;
    height: 500px; /* Full viewport height */
    background-size: cover; /* Ensure the image covers the div */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* No repeat for the image */
    background-image: url(https://www.apple.com/v/home/br/images/heroes/iphone-16-pro/hero_iphone16pro_preorder__bw14fpo72niu_small.jpg);

}

.second-banner{
    width: 100%;
    height: 500px; /* Full viewport height */
    background-size: cover; /* Ensure the image covers the div */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* No repeat for the image */
    background-image: url(https://www.apple.com/v/home/br/images/heroes/iphone-16/hero_iphone16_preorder__djo0elxwjbma_small.jpg);
    margin-top: 10px;

}

.third-banner{
    width: 100%;
    height: 500px; /* Full viewport height */
    background-size: cover; /* Ensure the image covers the div */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* No repeat for the image */
    background-image: url(https://www.apple.com/v/home/br/images/heroes/apple-watch-series-10/hero_apple_watch_series_10_announce_lte__erybd9d98zau_small.jpg);

}


.iphone16ProDiv{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    flex-direction: column;
    padding: 2rem;
}

.iphone16ProDiv div{
    text-align: center;
}

.appleWatchDiv{
    display: flex;
    justify-content: start;
    align-items: center;
    height: 100%;
    flex-direction: column;
    padding: 2rem;
}

.appleWatchDiv div{
   
        text-align: center;
    
}

.watch-logo{
    background-image: url(https://www.apple.com/v/apple-watch-series-10/a/images/overview/welcome/logo_s10__ly48mnakkyie_large.png);
    height: 65px;
    width: 178px;
    background-size: cover; /* Ensure the image covers the div */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* No repeat for the image */
}


.head{
    color: #f5f5f7;
}

.bottom p{
    color: #86868b;
}

.iP16 p{
    color: black;
    line-height: 13px;
}
.btns{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.cells{
    display: flex;
    flex-wrap:wrap;
    flex-grow:1;
    flex-shrink: 1;
    
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 500px;
    min-width: 300px;
    max-width:900px;
    padding: 2rem;
}

.cells p{
    text-align: center;
}


.cell-2{
    justify-content: end;
}


.cell-3{
    justify-content: end;
}

.grid{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.smallerScreenSlider{
        display: none;
      }

@media(min-width:680px){
    .grid{
        flex-direction: row;
    }
    .swiper {
        width: 100%;
        height: 200px;
      }
      
    
}


.cell-1{
    background-image: url(https://www.apple.com/in/home/promos/apple-watch-ultra-2/images/promo_apple_watch_ultra2_avail__dyawbjw9cowi_large.jpg);
    background-size: cover; /* Ensure the image covers the div */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* No repeat for the image */
}

.cell-2{
    background-image: url(https://www.apple.com/v/home/br/images/promos/airpods-4/promo_airpods_4_announce__dvb5tea0uyye_small.jpg);
    background-size: cover; /* Ensure the image covers the div */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* No repeat for the image */
}

.cell-3{
    background-image: url(https://www.apple.com/v/home/br/images/promos/airpods-max/promo_airpodsmax_announce__2srayzjz3iay_small.jpg);
    background-size: cover; /* Ensure the image covers the div */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* No repeat for the image */
}

.cell-4{
    background-image: url(https://www.apple.com/v/home/br/images/promos/macbook-air-m3/promo_macbook_air_m3__e43jegok3wuq_small.jpg);
    background-size: cover; /* Ensure the image covers the div */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* No repeat for the image */
}

.cell-5{
    background-image: url(https://www.apple.com/v/home/br/images/promos/ipad-pro/promo_ipadpro__ch217v9v7no2_small.jpg);
    background-size: cover; /* Ensure the image covers the div */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* No repeat for the image */
}

.cell-6{
    background-image: url(https://www.apple.com/v/home/br/images/promos/iphone-tradein/promo_iphone_tradein__bugw15ka691e_small.jpg);
    background-size: cover; /* Ensure the image covers the div */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* No repeat for the image */
}



@media (min-width:720px) {
    .grid{
        flex-direction: row;
    }
        
}

/* Applies only when the screen width is between 600px and 1200px */
@media (min-width: 720px) and (max-width: 1069px) {
   
    .grid{
       
        grid-column: 2;
        height: 490px;
    }
  }

  .footer {
    padding: 2rem 0;
    background-color: #f0f0f0; /* Light grey background */
}            

@media(min-width:1060px){
    .top-banner{
       width: 100%;
    height: 550px; /* Full viewport height */
    background-size: cover; /* Ensure the image covers the div */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* No repeat for the image */
    background-image: url(https://www.apple.com/v/home/br/images/heroes/iphone-16-pro/hero_iphone16pro_preorder__bw14fpo72niu_large.jpg);

    }

    .second-banner{
        width: 100%;
     height: 550px; /* Full viewport height */
     background-size: cover; /* Ensure the image covers the div */
     background-position: center; /* Center the image */
     background-repeat: no-repeat; /* No repeat for the image */
     background-image: url(https://www.apple.com/v/home/br/images/heroes/iphone-16/hero_iphone16_preorder__djo0elxwjbma_large.jpg);
     margin-top: 1rem;
 
     }

     .third-banner{
        width: 100%;
     height: 550px; /* Full viewport height */
     background-size: cover; /* Ensure the image covers the div */
     background-position: center; /* Center the image */
     background-repeat: no-repeat; /* No repeat for the image */
     background-image: url(https://www.apple.com/v/home/br/images/heroes/apple-watch-series-10/hero_apple_watch_series_10_announce_lte__erybd9d98zau_large.jpg);
     margin-top: 1rem;
 
     }


    .navbar2{
        height: 3rem;
    }


    
    .head h2{
    font-weight: bolder;
    font-size: 50px;
    
}

.iphone16ProDiv p{
    font-size: 25px;
}


.cells{
    margin: 5px 0;
    max-width: 49%;
}


}











@media(max-width:1060px){

.head h2{
    font-weight: bolder;
    font-size: 30px;
    
}

.iphone16ProDiv p{
    font-size: 20px;
}
.navb{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cells{
    margin: 10px 0;
    max-width: 100%;
}

}










.swiper {
    width: 100%;
    height: 500px;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
   height: 100%;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .swiper-slide {
    width: 80%;
  }

  .swiper-slide:nth-child(2n) {
    width: 60%;
  }

  .swiper-slide:nth-child(3n) {
    width: 40%;
  }

  .swiper-slide{
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
   


  }

  .slider-info{
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    bottom: 0;
  }
  .accordionDiv{
    width: 100%;
    padding: 0%;
  }
.accordion-body ul{
    list-style-type: none;
}

.accordion-body li{
    padding: 5px 0;
}


.accordion-body a{
    text-decoration: none;
    color: black;
}

@media(max-width:680px){
    .slide1{
        background-image: url(https://is1-ssl.mzstatic.com/image/thumb/Features221/v4/4d/19/47/4d1947b8-ddcb-1b0c-fa01-10aead613ed1/2d11c543-c59f-41e9-b05c-43da3d638894.png/548x1186.jpg);
    }
    .slide2{
        background-image: url(https://is1-ssl.mzstatic.com/image/thumb/Features/v4/93/74/4b/93744bbb-351d-1c83-42bc-64f2d3083928/2af73e14-6814-4352-99e7-51185950bc48.png/548x1186.jpg);
    }
    .slide3{
        background-image: url(https://is1-ssl.mzstatic.com/image/thumb/Features116/v4/27/70/4a/27704afa-feb6-8ed8-9d0e-9d4f3536de2a/d404c65c-cb7e-481b-8ecd-846293327946.png/548x1186.jpg);
    }
    .slide4{
        background-image: url(https://is1-ssl.mzstatic.com/image/thumb/Features221/v4/29/c6/a9/29c6a96e-bc04-ccdd-dddd-3dd9a7c3681e/2009de12-1967-41bd-88fb-902896eefc42.png/548x1186.jpg);
    }
    .slide5{
        background-image: url(https://is1-ssl.mzstatic.com/image/thumb/Features/v4/86/4a/f2/864af2c0-8668-eb2b-62f8-42c649aad697/7cbd8806-e701-4183-84e7-f7c2c61f9b08.png/548x1186.jpg);
    }
    .slide6{
        background-image: url(https://is1-ssl.mzstatic.com/image/thumb/Features/v4/3e/78/bc/3e78bcc2-0ac3-80f9-9cb1-d7bfef7d1d42/91e53220-f3f9-4bda-ba20-a1d517d13e34.png/548x1186.jpg);
    }
    .slide7{
        background-image: url(https://is1-ssl.mzstatic.com/image/thumb/Features221/v4/4d/19/47/4d1947b8-ddcb-1b0c-fa01-10aead613ed1/2d11c543-c59f-41e9-b05c-43da3d638894.png/548x1186.jpg);
    }
}


@media(min-width:680px){
    .slide1{
        background-image: url(https://is1-ssl.mzstatic.com/image/thumb/p-dFQhrrenz0eg8_smgu9w/1960x1102.jpg);
    }
    .slide2{
        background-image: url(https://is1-ssl.mzstatic.com/image/thumb/iUZiuKb8A9o5jIx0hJSvjw/1960x1102.jpg);
    }
    .slide3{
        background-image: url(https://is1-ssl.mzstatic.com/image/thumb/XRVC0LFY33UhYRJc3uusMA/1960x1102.jpg);
    }
    .slide4{
        background-image: url(https://is1-ssl.mzstatic.com/image/thumb/44dJzkosAhD0-ugRepvsfw/1960x1102.jpg);
    }
    .slide5{
        background-image: url(https://is1-ssl.mzstatic.com/image/thumb/5f_5UoHWRh5ZuhHlui5Cuw/1960x1102.jpg);
    }
    .slide6{
        background-image: url(https://is1-ssl.mzstatic.com/image/thumb/p-dFQhrrenz0eg8_smgu9w/1960x1102.jpg);
    }
}
